:root {
  --background: #fff;
  --font: #012340;
  --calculator: #011526;
  --screen: #012340;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--background);
  color: var(--font);
  font-family: 'Quicksand', 'Roboto', sans-serif;
  margin-bottom: 100px;
}

/* Main */

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-top: 50px;
}

.calculator {
  background-color: var(--calculator);
  min-height: 570px;
  width: 350px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.screen {
  background-color: var(--screen);
  color: white;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 15px;
  font-size: 25px;
  border-radius: 12px;
  margin-top: 20px;
  height: 120px;
  width: 90%;
  margin-bottom: 30px;
}

.buttons-grid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
}

.buttons-grid button {
  background-color: var(--background);
  color: var(--font);
  cursor: pointer;
  width: 53px;
  height: 53px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
}
