:root {
  --background: #013F4E;
  --font: #fff;
  --calculator: #212121;
  --screen: #86bcc6;
  --buttons: #414141;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--background);
  color: var(--font);
  font-family: 'Quicksand', 'Roboto', sans-serif;
  margin-bottom: 100px;
}

/* Main */

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-top: 50px;
}

.calculator {
  background-color: var(--calculator);
  min-height: 570px;
  width: 350px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.screen {
  background-color: var(--screen);
  color: white;
  text-align: right;
  padding: 15px;
  font-size: 40px;
  border-radius: 5px;
  margin: 20px 0px;
  width: 90%;
  min-height: 123px;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.buttons-grid button {
  background-color: var(--buttons);
  color: var(--font);
  cursor: pointer;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  transition: all .15s ease-in-out;
}

.buttons-grid button:hover  {
  background-color: var(--screen);
  transform: translateY(-0.2rem);
}

#equalBtn {
  grid-column: 3 / 5;
  width: 150px;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 15px;
  font-size: 20px;
}

.fa-github {
  color: var(--font);
  font-size: 24px;
  transition: transform 0.9s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.4);
}